#!/bin/sh

{{ if eq .osid "linux-debian" }}
sudo apt update
sudo apt install -y \
{{- range .packages.apt.packages }}
  {{ . }} \
{{- end }}
{{ end }}

if ! command -v cargo > /dev/null; then
  echo "Installing rustup..."
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  . "$HOME/.cargo/env"
fi

cargo install --locked --force \
{{- range .packages.cargo.crates }}
  {{ . }} \
{{- end }}
