#!/bin/sh
{{ if eq .osid "darwin" }}
# macOS-specific code
{{ else if eq .osid "linux-debian" }}
sudo apt update
sudo apt install -y \
	git \
	build-essential \
	net-tools \
	linux-headers-"$(uname -r)" \
	cmake \
	curl \
	fzf \
	gettext \
	make \
	ninja-build \
	npm \
	rsync \
	tmux \
	vim
{{ else }}
# Other OS
{{ end }}
