#!/bin/sh
# HEAD: {{- output "git" "-C" (joinPath .chezmoi.homeDir .neovim.sourceDir)  "rev-parse" "HEAD" }}
cd {{ joinPath .chezmoi.homeDir .neovim.sourceDir }} \
	&& rm -rf ./build/ \
	&& git pull origin master \
	&& make \
		CMAKE_BUILD_TYPE={{ .neovim.buildType }} \
		CMAKE_INSTALL_PREFIX={{.neovim.installPrefix }} \
		install
