#!/bin/sh
## install base + per-distro packages from .chezmoidata/packages.yaml

{{- if and (eq .chezmoi.os "linux") (hasKey . "packages") }}
{{-   $base := .packages.base | default (list) }}
{{-   $id := "" }}
{{-   if hasKey .chezmoi.osRelease "id" }}{{ $id = .chezmoi.osRelease.id }}{{ end }}
sudo sh -c '
{{-   if or (eq $id "debian") (eq $id "ubuntu") }}
{{-     $pkgs := concat $base (.packages.apt | default (list)) | join " " }}
export DEBIAN_FRONTEND=noninteractive
apt-get update -y
apt-get install -y --no-install-recommends {{ $pkgs }}
apt-get autoremove -y
apt-get clean
{{-   else if eq $id "arch" }}
{{-     $pkgs := concat $base (.packages.pacman | default (list)) | join " " }}
pacman -Sy --needed --noconfirm {{ $pkgs }}
pacman -Sc --noconfirm
{{-   else }}
{{-     $pm := "" }}
{{-     if lookPath "dnf" }}{{ $pm = "dnf" }}{{ else if lookPath "yum" }}{{ $pm = "yum" }}{{ end }}
{{-     if $pm }}
{{-       $pkgs := concat $base (.packages.dnf | default (list)) | join " " }}
{{ $pm }} install -y {{ $pkgs }}
{{ $pm }} clean all
{{-     end }}
{{-   end }}
'
{{- end }}
