{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") }}
#!/bin/sh
## checksum of packages.toml: {{ include ".chezmoidata/packages.toml" | sha256sum }}
  {{ if or .headless .ephemeral }}
export DEBIAN_FRONTEND=noninteractive
  {{ end }}
apt-get update -y
apt-get install -y --no-install-recommends \
  {{- range .apt.packages }}
    {{ . }} \
  {{- end }}
{{ end }}
