#!/bin/sh
## install packages from packages

{{- $packages := join " " .packages -}}

{{- if eq .packageManager "apt" }}
sudo sh -c 'export debian_frontend=noninteractive
apt-get update -y
apt-get install -y --no-install-recommends {{ $packages }}
apt-get autoremove -y
apt-get clean'
{{- else if or (eq .packageManager "dnf") (eq .packageManager "yum") }}
sudo sh -c '{{ .packageManager }} check-update || true
{{ .packageManager }} install -y {{ $packages }}
{{ .packageManager }} autoremove -y
{{ .packageManager }} clean all'
{{- else if eq .packageManager "pacman" }}
sudo sh -c 'pacman -Sy --noconfirm {{ $packages }}
pacman -Sc --noconfirm'
{{- end }}
