#!/bin/sh
{{ if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.ID "debian") (eq .chezmoi.osRelease.ID "ubuntu")) }}
sudo apt update
sudo apt install -y \
  git \
  build-essential \
  net-tools \
  linux-headers-"$(uname -r)" \
  cmake \
  curl \
  fzf \
  gettext \
  make \
  ninja-build \
  npm \
  rsync \
  tmux \
  vim
# intentionally skipped (install via cargo):
# fd-find
# ripgrep
{{ end }}
