#!/bin/sh
## install packages from packages

{{- if eq .chezmoi.os "linux" }}
{{- $packages := join " " .packages }}
sudo sh -c '
{{-   if and (hasKey .chezmoi.osRelease "id") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}
export DEBIAN_FRONTEND=noninteractive
apt-get update -y
apt-get install -y --no-install-recommends {{ $packages }}
apt-get autoremove -y
apt-get clean
{{-   else if and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "arch") }}
pacman -Sy --noconfirm {{ $packages }}
pacman -Sc --noconfirm
{{-   else }}
{{-     $pm := "" }}
{{-     if lookPath "dnf" }}
{{-       $pm = "dnf" }}
{{-     else if lookPath "yum" }}
{{-       $pm = "yum" }}
{{-     end }}
{{-     if $pm }}
{{ $pm }} check-update || true
{{ $pm }} install -y {{ $packages }}
{{ $pm }} autoremove -y
{{ $pm }} clean all
{{-     end }}
{{-   end }}
'
{{- end }}
