#!/bin/sh
{{ if lookPath "brew" -}}
## update/upgrade brew packages when this value changes: {{ now.YearDay }}
HOMEBREW_NO_ENV_HINTS=1 && brew update && brew upgrade && brew cleanup -s
brew bundle dump --force --file=- \
	| awk '/^#/{comment=$0; next} {print $0 "\t" comment; comment=""}' \
	| sort > "{{ .chezmoi.sourceDir }}/dot_config/brewfile/Brewfile"
{{- end }}
