#!/bin/sh
## Install packages with their respective package managers.
{{- if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") }}
{{ if or .headless .ephemeral }}
export DEBIAN_FRONTEND=noninteractive
{{ end }}
apt-get update -y
apt-get install -y --no-install-recommends \
  {{- range .packages.apt.packages }}
    {{ . }} \
  {{- end }}

{{- if and (not .ephemeral) (not .headless) -}}
. "$HOME/.cargo/env"
cargo install --locked \
  {{- range .packages.cargo.crates }}
    {{ . }} \
  {{- end }}
{{- end }}
{{- end }}
