#!/bin/sh
{{ if ne .chezmoi.os "darwin" }}
sudo apt update
sudo apt install -y \
  git \
  build-essential \
  net-tools \
  linux-headers-"$(uname -r)" \
  cmake \
  curl \
  fzf \
  gettext \
  make \
  ninja-build \
  npm \
  rsync \
  tmux \
  vim
# intentionally skipped (install via cargo):
# fd-find
# ripgrep
{{ end }}
