[".vim/"]
type = "git-repo"
url = "https://github.com/rdnajac/.vim.git"
refreshPeriod = "never"

{{- if .work }}
[".local/bin/nvim"]
type = "file"
refreshPeriod = "24h"
url = https://github.com/neovim/neovim/releases/download/nightly/nvim-linux-x86_64.appimage
executable = true

[".local/bin/fzf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
executable = true
path = "fzf"
refreshPeriod = "168h"
{{- end }}

