{{/* https://github.com/twpayne/dotfiles/blob/master/home/.chezmoi.toml.tmpl */}}
{{- $name := "Ryan D. Najac" -}}
{{- $email := "rdn2108@columbia.edu" -}}
{{- $ephemeral := false -}}
{{- $headless := false -}}
{{- $personal := false -}}
{{- $work := false -}}
{{- "" -}}

{{- $osid := .chezmoi.os -}}
{{- if (and (eq $osid "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "ec2user" "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $host := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $host = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $host "Ryans-MacBook-Air" -}}
{{-     $personal = true -}}
{{-     $email = "ryan.najac@columbia.edu" -}}
{{-   else -}}
{{-     $work = true -}}
{{-     $email = "rdn2108@cumc.columbia.edu" -}}
{{-     if stdinIsATTY -}}
{{-       $headless = promptBoolOnce . "headless" "headless" -}}
{{-       $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

destDir = {{ .chezmoi.destDir | quote }}
progress = true
sourceDir = {{ .chezmoi.sourceDir | quote }}
verbose = true

[data]
email = {{ $email | quote }}
host = {{ $host | quote }}
name = {{ $name | quote }}
osid = {{ $osid | quote }}
githubUsername = "rdnajac"
ephemeral = {{ $ephemeral }}
headless = {{ $headless }}
personal = {{ $personal }}
work = {{ $work }}

[data.neovim]
sourceDir = {{ joinPath .chezmoi.homeDir "GitHub" "neovim" | quote}} 
buildType = "RelWithDebInfo"
installPrefix = "$HOME/.local"

[add]
apply = true

[diff]
    exclude = ["externals"]

[edit]
apply = true
hardlink = false

[git]
autoAdd = true
autoCommit = false
autoPush = false

[merge]
command = "nvim"
args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
]
# vim: set nowrap
