{{- $interactive := stdinIsATTY -}}
{{- $codespaces := env "CODESPACES" | not | not -}}

{{- $name := "Ryan D. Najac" -}}
{{- if and $interactive (not $codespaces) -}}
  {{- $name = promptString "name" $name -}}
{{- else if hasKey . "name" -}}
  {{- $name = .name -}}
{{- end -}}

{{- $email := "rdn2108@cumc.columbia.edu" -}}
{{- if and $interactive (not $codespaces) -}}
  {{- $email = promptString "email" $email -}}
{{- else if hasKey . "email" -}}
  {{- $email = .email -}}
{{- end -}}

{{- if and $interactive (not $codespaces) -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
destinationDir = {{ .chezmoi.destDir | quote }}
progress = true
verbose = true

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  codespaces = {{ $codespaces }}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end }}
  osid = {{ $osid | quote }}

[git]
autoAdd = true
autoCommit = false
autoPush = false

[add]
apply = true

[edit]
apply = true

[update]
apply = true

[merge]
command = "nvim -d"
