{{- if or .codespaces .work }}
[".vim/"]
type = "git-repo"
url = "https://github.com/rdnajac/.vim.git"
refreshPeriod = "0s"

[".local/bin/nvim"]
type = "archive"
{{- if eq .chezmoi.os "darwin" }}
url = {{ printf "https://github.com/neovim/neovim/releases/download/nightly/nvim-macos-%s.tar.gz" .chezmoi.arch | quote }}
{{- else if eq .chezmoi.os "linux" }}
url = {{ printf "https://github.com/neovim/neovim/releases/download/nightly/nvim-linux-%s.tar.gz" .chezmoi.arch | quote }}
{{- end }}
executable = true
refreshPeriod = "24h"
{{- end }}

[".local/bin/fzf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
path = "fzf"
executable = true
refreshPeriod = "168h"
