{{ $platform := ternary (eq .chezmoi.os "darwin") "macos" "linux" -}}
{{- $arch := ternary (eq .chezmoi.arch "arm64") "arm64" "x86_64" -}}
.local/neovim:
  type: archive
  exact: true
  stripComponents: 1
  url: {{ printf "https://github.com/neovim/neovim/releases/download/nightly/nvim-%s-%s.tar.gz" $platform $arch | quote }}
  executable: false
  refreshPeriod: 24h

{{- if .work }}
.vim:
  type: git-repo
  url: {{ "https://github.com/rdnajac/.vim.git" | quote }}
  refreshPeriod: 0s
{{- end }}

