[".vim/"]
type = "git-repo"
url = "https://github.com/rdnajac/.vim.git"
refreshPeriod = "0s"

[".local/"]
type = "archive"
{{- $platform := "linux" -}}
{{- if eq .chezmoi.os "darwin" -}}{{- $platform = "macos" -}}{{- end -}}
{{- $arch := "x86_64" -}}
{{- if eq .chezmoi.arch "arm64" -}}{{- $arch = "arm64" -}}{{- end -}}
url = "{{ printf "https://github.com/neovim/neovim/releases/download/nightly/nvim-%s-%s.tar.gz" $platform $arch }}"
executable = true
refreshPeriod = "24h"

[".local/bin/fzf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
path = "fzf"
executable = true
refreshPeriod = "168h"
