[user]
	email = rdn2108@colubia.edu
	name = Ryan David Najac
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
