eval "$({{ lookPath "brew" }} shellenv)"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/bin:$PATH"
# chezmoi-managed neovim nightly install location
export PATH="$HOME/.local/neovim/bin:$PATH"
# local neovim build for dev (takes precedence)
export PATH="$HOME/neovim/bin:$PATH"

export EDITOR=vim
export VISUAL=nvim
# use the nvim man plugin to view manpages
export MANPAGER='nvim +Man!'
# edit the system clipboard with nvim
alias pbedit='nvim +Clipboard'

[ -f "$HOME"/.cargo/env ] && . "$HOME"/.cargo/env
