theme = TokyoNight Night
background = #000000
# background = #16161d
# background-blur = true
# background-opacity = 0.4
# background-opacity-cells = true

cursor-style = block
custom-shader = ~/.config/ghostty/shaders/cursor_blaze_tapered.glsl

# custom-shader-animation = always
# macos-non-native-fullscreen = true
# fullscreen = true
# window-decoration = false

font-size = {{ .font.size }}
{{- if eq .font.ligatures false }}
font-feature = -calt,-liga,-dlig
{{- end }}

shell-integration-features = ssh-terminfo,ssh-env
